[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	a = add
	ap = add -p
	b = branch
	br = branch
	ca = commit --amend
	cah = commit --amend -CHEAD
	ci = commit
	cm = commit -m
	co = checkout
	cv = commit -v
	d = diff
	dc = diff --cached
	fa = fetch --all --tags --prune
	info = "!source ~/.githelpers && pretty_git_log"
	l = !git info -100
	lp = log --decorate --oneline --graph -p
	ls = branch
	pl = pull --rebase
	s = status
	st = status
[user]
	email = manojbajaj95@gmail.com
	name = Manoj Bajaj
[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim
	whitespace = trailing-space,space-before-tab
[apply]
	whitespace = fix
[push]
	default = simple
[web]
	browser = open
[credential]
	helper = cache --timeout=25000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
